*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}
body{
    background:#002339;
    color:#fff;
}
.container{
    margin:12%;
    width:90%;
    max-width:700px;   
}
.display{
    width:100%;
    margin-top:50px;
    margin-bottom:30px;
    background:#fff;
    color:#333;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:26px 20px;
    border-radius:5px;
}
.container h1{
    font-weight:500;
    font-size:45px;  
}
.container h1 span{
    color:#019f55;
    border-bottom:4px solid #019f55;
    padding-bottom:7px;
}
.display img{
    width:30px;
    cursor:pointer;
}
.display input{
    border:0;
    outline:0;
    font-size:24px;
}
.container button img{
    width:28px;
    margin-right:10px;
}
.container button{
    border:0;
    outline:0;
    background:#019f55;
    color:#fff;
    font-size:22px;
    font-weight:300;
    display:flex;
    align-items:center;
    justify-content:center;
    padding:16px 26px;
    border-radius:5px;
    cursor:pointer;
}
@media(max-width:799px){
    body{
        width:750px;
    }
    .container h1 {
        font-weight: 500;
        font-size: 35px;
    }
    .display {
        height:50px;
        width: 500px;
    }
    .display input {
        font-size: 18px;
    }
    .container button {
        font-size: 16px;
        font-weight: 200;
        padding: 10px 20px;
    }
}
@media(max-width:499px){
    body{
        width:350px;
    }
    .container h1 {
        font-weight: 500;
        font-size: 25px;
    }
    .display {
        height:30px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 30px;
        background: #fff;
        color: #333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 26px 20px;
        border-radius: 5px;
    }
    .display input {
        border: 0;
        outline: 0;
        font-size: 16px;
        height:20px;
    }
    .container button {
        font-size: 16px;
        font-weight: 100;
        padding: 6px 16px;
        height:50px;
    }
}